chroma_db_store/chroma.sqlite3
chroma_db_store/a8a7af1b-d026-4c2c-891f-fc3b8678bbe6/data_level0.bin
chroma_db_store/a8a7af1b-d026-4c2c-891f-fc3b8678bbe6/header.bin
chroma_db_store/a8a7af1b-d026-4c2c-891f-fc3b8678bbe6/length.bin
chroma_db_store/a8a7af1b-d026-4c2c-891f-fc3b8678bbe6/link_lists.bin
data/CHandan 2021.pdf
data/chandan full 2.pdf
data/CHandan full.pdf
data/Chandan.pdf
data/MR. NISHANT RANJAN.pdf
data/MR.NISHANT RENJAN-2.pdf
data/Nishant 23.pdf
data/Nishant2021.pdf
data/sangeetha 1.PDF
data/Smita 1.pdf
data/smita 24.pdf
environment/.env
data/Chandan samaiyar 18may25.pdf
